.navbar{
    background-color: black;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: green;
}
.nav-link:active{
    color: white;
}
.nav-link dropdown-toggle{
    color: white;
}
#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 50%;
  opacity: 0.5;
}
.bckform{
    position: absolute;
    width: 60%;
    text-align: center;
    top: 380px;
    left: 24%;
}
 .textcontainer{
    text-align: center;
    position:absolute;
    top: 230px;
    left: 22%;
}
#textemphasis{
    color: green;
}
.gridcontainer{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    position: absolute;
    top: 550px;
    left: 50px;
}
#secondcontainer,#firstcontainer,#thirdcontainer{
    padding: 10px;
    text-align: center;
    padding: 20px;
    height: 200px;
    border: 2px solid white;
    background-color: white;
    border-radius: 2%;
}
.containertextheader{
    font-size: large;
    font-weight: bold;
}
.containerbtn{
    padding-bottom: 10px;
}
.secondpartcontainer{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 80% 20%;
    position: absolute;
    top: 800px;
    left: 400px;
    width: 800px;
    justify-content: space-between;

}
.btn{
    width: 125px;
    margin-top: 5px;
}
.headerinfo,#excess{
    background-color: rgb(25, 135, 84);
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 10PX;
}
.joboppor,.cvbtn{
    border-bottom: 1px groove rgb(25, 135, 84);
    background-color: white;
}
.headersub{
    font-size: large;
    font-weight: bold;
    margin: 0px 10px 0px 10px;
}
.headersub1{
    color: rgb(25, 135, 84);
    margin: 0px 10px 0px 10px;
}
body{
    background-color: rgba(0, 0, 0, 0.9);
}
h1,#textsub{
    color: white;
}